# .ebextensions/dependencies.config
packages:
  yum:
    python3-pip: []
    python3-devel: []
    gcc: []
    openssl-devel: []
    bzip2-devel: []
    libffi-devel: []

container_commands:
  01_check_requirements:
    command: "test -f /var/app/staging/Recarnation-TechTitans/requirements.txt || { echo 'Requirements file not found'; exit 1; }"
  
  02_install_dependencies:
    command: "python3 -m pip install --user --upgrade pip && python3 -m pip install -r /var/app/staging/Recarnation-TechTitans/requirements.txt"
    leader_only: true
    ignoreErrors: false

option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
